anyio==4.9.0
asgiref==3.8.1
asttokens==3.0.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
coloredlogs==15.0.1
decorators==2.0.7
Django==5.1.7
executing==2.2.0
executor==23.2
fasteners==0.19
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
humanfriendly==10.0
i==2.1.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
messagebox==0.1.0
Paginator==0.5.1
pillow==11.1.0
property-manager==3.0
Pygments==2.19.1
pyreadline3==3.5.4
pyTelegramBotAPI==4.26.0
python-telegram-bot==22.0
PyYAML==6.0.2
render==1.0.0
requests==2.32.3
review==1510
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
telebot==0.0.5
telegram==0.0.1
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.3.0
useragent==0.1.1
verboselogs==1.7
telethon